/app/config/*.neon
/libs/*
/licensed/*
/log/*
/temp/*
/vendor/*
/www/adminer/index.php
/www/css/*
!/www/css/style.css
/www/images/*
/www/images/thumbs/*
/www/js/*
!/www/js/main.js
!/www/js/main.user.js
!.htaccess
*.komodoproject
.komodotools
