#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	params:
		web:
			brand: Page Name
			copy: Text for copyright
			url: http://www.domain.tld/
		mail:
			adminName: Admin Name
			adminMail: admin.mail@domain.tld
		paging:
			count: 20
	database:
		driver: mysql
		host: db.host
		dbname: db.name
		user: db.user
		password: db.password
		options:
			lazy: yes

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\Presenters\*Presenter

	session:
		expiration: 14 days

	database:
		dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
		user:	%database.user%
		password: %database.password%
		
	container:
		accessors: TRUE

services:
	database: Nette\Database\Connection('%database.driver%:host=%database.host%;dbname=%database.dbname%', %database.user%, %database.password%)
	
	authorizator:
		class: Nette\Security\Permission
		setup:
			- addRole('guest')
			- addRole('acolyte','guest')
			- addRole('priest','acolyte')
			- addRole('editor','priest')
			- addRole('admin','editor')
			- addResource('Acolyte')
			- addResource('Homepage')
			- addResource('Image')
			- addResource('Priest')
			- addResource('System')
			- addResource('User')
			- allow('guest','Acolyte','default')
			- allow('acolyte','Acolyte')
			- allow('acolyte','System','mail')
			- allow('priest','Priest')
			- allow('editor','Homepage','edit')
			- allow('editor','Image')
			- allow('editor','User','password')
			- allow('admin')

	- Model\Authenticator
	- Model\AcolyteRepository
	- Model\AcolyteManager
	- Model\ImageRepository
	- Model\ImageManager
	- Model\PageRepository
	- Model\PageManager
	- Model\PriestRepository
	- Model\PriestManager
	- Model\LogRepository
	- Model\LogManager
	- Model\SetupManager(%params%)
	- Model\SystemManager
	- Model\UserRepository
	- Model\UserManager
	
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
