<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mm-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="mm-navbar-collapse">
			<ul class="nav navbar-nav">
				{foreach $pages as $item}
				<li {ifCurrent $item->type, $item->url}class="active"{/ifCurrent}><a href="{plink $item->type, $item->url}" title="{$item->title}">{$item->name}</a></li>
				{/foreach}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{if $user->isLoggedIn()}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						{if $user->isInRole('editor') || $user->isInRole('admin')}
						<li><a href="{plink Image:}"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Fotogalerie</a></li>
						{if $user->isInRole('admin')}
						<li><a href="{plink User:default}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Uživatelé</a></li>
						{/if}
						<li><a href="{plink System:log}"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Log (přihlášení)</a></li>
						{/if}
						<li><a href="{plink User:password}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Změnit heslo</a></li>
						<li class="divider"></li>
						<li><a href="{plink Acolyte:default}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Ministranti</a></li>
						<li><a href="{plink Priest:default}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Celebranti</a></li>
						<li class="divider"></li>
						<li><a href="{plink System:mail}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail webmasterovi</a></li>
						<li class="divider"></li>
						<li><a href="{plink SignOut!}" title="Odhlásit se"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Odhlásit se</a></li>
					</ul>
				</li>
				{/if}
			</ul>
		</div>
	</div>
</nav>
