{var $title = 'Přidání nového uživatele'}

{block content}
<div id="banner">
	<h2 n:block=title>Přidání nového uživatele</h2>
</div>

<div id="box">
	{control userForm}
</div>
{/block}

{block scripts}
{include #parent}
{/block}
