{var $title = 'Změna hesla'}

{block content}
<div id="banner">
	<h2 n:block=title>Nastavení hesla</h2>
</div>

<div id="box">
	{control passwordForm}
</div>
{/block}

{block scripts}
{include #parent}
{/block}
