<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Vzkaz z webu {$webName}</title>
</head>
<body>
    <p>Ahoj,</p>
    <p>Uživatel <strong>{$userName}</strong> poslal následující vzkaz:
		<hr>
		{$note}
		<hr>
		<em>Odesláno: {date('j.n.Y G:i:s')}</em></p>
</body>
</html>