<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Nové heslo na web {$webName}</title>
</head>
<body>
    <p>Ahoj,</p>
    <p>posílám Ti nové heslo <strong>{$password}</strong> na web <strong><a href="{$webUrl}">{$webName}</a></strong> k přihlašovacímu jménu <strong>{$username}</strong>.</p>
		<p>S pozdravem {$webAdmin}</p>
</body>
</html>
