{var $title = 'Přidání nového přístupového kódu'}

{block content}
<div id="banner">
	<h2 n:block=title>Přidání nového přístupového kódu</h2>
</div>

<div id="box">
	{control codeForm}
</div>
{/block}

{block scripts}
{include #parent}
{/block}
